---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Hero from "../components/sections/Hero.astro";
import Philosophy from "../components/sections/Philosophy.astro";
import Rooms from "../components/sections/Rooms.astro";
import Gallery from "../components/sections/Gallery.astro";
import { Contact } from "../components/sections/Contact";
import Map from "../components/ui/Map.astro";
import Footer from "../components/layout/Footer.astro";
---

<Layout title="Inicio">
	<Header />
	<main>
		<Hero />
		<Philosophy />
		<Rooms />
		<Gallery />
		<Contact client:visible />
		<section class="pb-24 px-6 bg-bone">
			<div
				class="max-w-7xl mx-auto h-[450px] rounded-3xl overflow-hidden shadow-2xl border-8 border-white"
			>
				<Map />
			</div>
		</section>
	</main>
	<Footer />
</Layout>
